@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./Media/bg4.png');
}

.font {
    /* font-family: "Amiri Quran", serif; */
    font-family: "Noto Sans Arabic", sans-serif;
  font-weight: 400;
  font-style: normal;
}